# 創建 .gitignore
echo "*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.apk
*.aab" > .gitignore

# 提交
git add .gitignore
git commit -m "Add .gitignore"
git push
